/20260327_AFA_Hot_Topics_Interim_Submission.docx
/20260402_AFA_Hot_Topics_local.docx
/20260402_AFA_Hot_Topics_v2.docx
/20260402_AFA_Hot_Topics_v3.docx
/AFA 2 EN Basics of Scientific Work.pdf
/AFA_Paper_v1.docx
/Prof_Feedback.msg
/Task & Topic.docx